body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fcf8eb;
  padding: 2rem;
}

h1 {
  font-weight: bold;
}

.badge-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  justify-items: center;
  margin-top: 2rem;
}

.badge {
  width: 100%;
  max-width: 150px;
  height: auto;
  cursor: pointer;
}

.info {
  font-size: 1.2rem;
  margin-top: 1rem;
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 1000px;
  background-color: #fcf8eb; /* Match the body background color */
}

.modal-content, .close {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}